Handle the RELATED VCard 4.0 property.

Add handling for the RELATED property as per RFC 6350 sec. 6.6.6. This may entail changes to VCard (allowed types), to VCardDB (to store and retrieve), and to templates (to output the parameter). It does not make any sense to do some of this before handling of the TYPE parameter is accomplished generally in VCardDB and in html templating.

Requires: #2 
